---
import { pagePath } from "../lib/pagination";

type Props = {
  currentPage: number;
  totalPages: number;
};

const { currentPage, totalPages } = Astro.props;
const previousPage = currentPage - 1;
const nextPage = currentPage + 1;
---

{
  totalPages > 1 && (
    <nav class="pagination" aria-label="Post feed pagination">
      {previousPage >= 1 ? <a href={pagePath(previousPage)}>Newer posts</a> : <span />}
      <span>
        Page {currentPage} of {totalPages}
      </span>
      {nextPage <= totalPages ? <a href={pagePath(nextPage)}>Older posts</a> : <span />}
    </nav>
  )
}
